.woo-variation-swatches-stylesheet-enabled .variable-items-wrapper .variable-item:not(.radio-variable-item).selected{
    border-radius: 0;
    box-shadow: none !important;
    border: 1px solid rgba(0,0,0,0.7);
    background-image: url(https://theme.hstatic.net/1000026602/1000381372/14/bg_checked.png?v=316);
    background-repeat: no-repeat;
    background-position: bottom right;
    transition: all 0s;
}
.woo-variation-swatches-stylesheet-enabled.woo-variation-swatches-style-squared .variable-items-wrapper .variable-item.button-variable-item{
    box-shadow: none !important;
    border-radius: 0;
    border: 1px solid rgba(0,0,0,0.7);
}